In [1]:
import pandas as pd

In [3]:
df =pd.read_csv("weather_data.csv")

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df['temperature'].max()

35

In [6]:
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [10]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [11]:
df.shape

(6, 4)

In [15]:
df[2:4]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow

In [17]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
df["temperature"]

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [24]:
df[df['temperature']>32]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [31]:
df['day'] [df['temperature']==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [32]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [34]:
df['event'].min()

'Rain'

In [35]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [39]:
df.set_index("day" ,inplace=True)

In [41]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [42]:
df.set_index('event', inplace=True)

In [43]:
df.index

Index(['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny'], dtype='object', name='event')

In [45]:
df.loc["Sunny"]

       temperature  windspeed
event
Sunny           35          7
Sunny           31          2

In [46]:
df.reset_index(inplace=True)

In [47]:
df

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           28          2
3   Snow           24          7
4   Rain           32          4
5  Sunny           31          2

In [49]:
df.set_index('event', inplace=True)

In [50]:
df

       temperature  windspeed
event
Rain            32          6
Sunny           35          7
Snow            28          2
Snow            24          7
Rain            32          4
Sunny           31          2

In [51]:
df.reset_index(inplace=True)

In [52]:
df

   event  temperature  windspeed
0   Rain           32          6
1  Sunny           35          7
2   Snow           28          2
3   Snow           24          7
4   Rain           32          4
5  Sunny           31          2